<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Назва сайту має бути саме тут! Але трохи згодом</title>
</head>
<body>
<h1>Сторінка ще знаходиться в розробці, зверніться до неї трохи згодом.</h1>

<br>
<br>
<br>
<br>

<form action="{% url 'thanks_page' %}" method="POST">
    {% csrf_token %}
    <label>Імʼя</label>
    <input name="name">
    <label>Телефон</label>
    <input name="phone">
    <button type="submit">НАДІСЛАТИ</button>
</form>
<br>
<br>
<br>
<br>
{% if object_list %}
<table border="2">

    <tr>
        <th>Номер замовлення</th>
        <th>Дата, та час замовлення</th>
        <th>Імʼя клієнта</th>
        <th>Телефон клієнта</th>
    </tr>
{% for object in object_list %}
    <tr>
        <th>{{ object.pk }}</th>
        <th>{{ object.order_date_time }}</th>
        <th>{{ object.order_name }}</th>
        <th>{{ object.order_phone }}</th>
    </tr>
{% endfor %}
</table>
{% else %}
    <h2>Наразі, нажаль, немає данних для відображення</h2>
{% endif %}



</body>
</html>